.main {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

/* Add these styles to your Home.css or a separate CSS file */

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 16px;
  background-color: #0074d9;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 8px;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
