.main {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

/* Add these styles to your Home.css or a separate CSS file */

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 16px;
  background-color: #0074d9;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 8px;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Home.css or a separate CSS file */

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader-circle {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sort {
  margin-top: 50px;
}
