.main {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.view {
  margin-top: 80px;
  margin-bottom: 0;
  margin-left: 2%;
}

.view-category label:not(:last-child) {
  margin-right: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Home.css or a separate CSS file */

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader-circle {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sort {
  text-align: center;
}

.categories {
  text-align: center;
  margin-top: 20px;
}

.reset-button {
  float: right;
  margin-top: 20px;
}

.sort-category label:not(:first-child) {
  margin-left: 10px;
}
